<section id="contact" class="contact">
  
    <picture>
      <source
        srcset="/images/home/contact.webp 1x, /images/home/contact@2x.webp 2x"
        media="(min-width:320px)"
        type="image/webp"
      />
      <source
        srcset="/images/home/contact.jpg 1x, /images/home/contact@2x.jpg 2x"
        media="(min-width:320px)"
      />
      <img src="/images/home/contact.jpg" alt="Request Callback" />
    </picture>

    
    <div class="contact__form">
    <h2 class="contact__title">Request Callback</h2>
    <form id="form" class="form" action="#">
      <label class="label" for="author">
        <input id="author" class="input" type="text" placeholder="Enter your name"/>
      </label>
      <label class="lable" for="email">
        <input id="email" class="input last" type="text" placeholder="Enter email*"/>
      </label>
      <button class="contact__btn" type="submit">Send</button>
    </form>
    </div>
  
</section>
