<section class="footer">
    <!-- <div class="container"> -->
        <ul class="footer__social__list">
            <li class="footer__social__item">
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="footer__social__item">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="footer__social__item">
                <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="footer__social__item">
                <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
            </li>
        </ul>
        <span class="footer__para">Copyright © 2021 - FinanceLedger</span>
    <!-- </div> -->
</section>