<section class="footer">
    <div class="container">
        <ul>
            <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
            </li>
        </ul>
        <span>Copyright © 2021 - FinanceLedger</span>
    </div>
</section>