<header id="header" class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="/index.html"
        ><i class="fa-solid fa-book-open"></i><span class="logo__green">Finance</span>Ledger</a
      >
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">About</a></li>
        <li class="nav__item"><a class="nav__link" href="#cases">Case</a></li>
        <li class="nav__item"><a class="nav__link" href="#blog">Blog</a></li>
        <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
