<section class="team">
    <div class="container">
  <h3>Who we are</h3>
  <h2>Our Professional Team</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!v</p>
  <ul>
    <li>
      <picture>
        <source
          srcset="/images/team/person1.webp 1x, /images/team/person1@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person1.jpg 1x, /images/team/person1@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person1.jpg" alt="President" />
      </picture>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
      <p>John Doe</p>
      <p>President</p>
    </li>
    <li>
      <picture>
        <source
          srcset="/images/team/person2.webp 1x, /images/team/person2@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person2.jpg 1x, /images/team/person2@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person2.jpg" alt="Vice President" />
      </picture>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
      <p>Jane Doe</p>
      <p>Vice President</p>
    </li>
    <li>
      <picture>
        <source
          srcset="/images/team/person3.webp 1x, /images/team/person3@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person3.jpg 1x, /images/team/person3@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person3.jpg" alt="Marketing Head" />
      </picture>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
      <p>Steve Smith</p>
      <p>Marketing Head</p>
    </li>
  </ul>
  
</div>
</section>
