<section class="team">
    <div class="container">
  <h3 class="team__subtitle">Who we are</h3>
  <h2 class="team__title">Our Professional Team</h2>
  <p class="team__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!v</p>
  <ul class="team__list">
    <li class="team__item">
        <div class="wrapper">
      <picture >
        <source
          srcset="/images/team/person1.webp 1x, /images/team/person1@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person1.jpg 1x, /images/team/person1@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person1.jpg" alt="President" />
      </picture>
    
      <div class="overlay">
      <ul class="team__social__list">
        <li class="team__social__item">
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li class="team__social__item">
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
    </div>
    </div>
      <p class="team__name">John Doe</p>
      <p class="team__post">President</p>
    </li>
    <li class="team__item">
        <div class="wrapper">
      <picture >
        <source
          srcset="/images/team/person2.webp 1x, /images/team/person2@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person2.jpg 1x, /images/team/person2@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person2.jpg" alt="Vice President" />
      </picture>
    
      <div class="overlay">
      <ul class="team__social__list">
        <li class="team__social__item">
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li class="team__social__item">
            <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
    </div>
    </div>
      <p class="team__name">Jane Doe</p>
      <p class="team__post">Vice President</p>
    </li>
    <li class="team__item">
        <div class="wrapper">
      <picture >
        <source
          srcset="/images/team/person3.webp 1x, /images/team/person3@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="/images/team/person3.jpg 1x, /images/team/person3@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="/images/team/person3.jpg" alt="Marketing Head" />
      </picture>
   
      <div class="overlay">
      <ul class="team__social__list">
        <li class="team__social__item">
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fab fa-youtube"></i></a>
        </li>
        <li class="team__social__item">
          <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
        </li>
      </ul>
    </div>
    </div>
      <p class="team__name">Steve Smith</p>
      <p class="team__post last">Marketing Head</p>
    </li>
  </ul>
</div>
</section>
