.blog {
  display: flex;
 
  flex-wrap: wrap;
}
.blog__text {
  order: 2;
  background-color: #0284d0;
  padding: 30px;
}
.blog__picture {
  order: 1;
}
.blog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $secondary-text-color;
  margin-bottom: 5px;
}
.blog .title {
  
  color: $secondary-text-color;
  margin-bottom: 25px;
}
.blog__para {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $secondary-text-color;
  margin-bottom: 15px;
}
.blog__btn {
  width: 184px;
  height: 47px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $secondary-text-color;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0284d0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $secondary-text-color;
    color: #0284d0;
  }
}
