.cases {
  color: $primary-text-color;
  text-align: center;
  padding-top: 50px;
}
.cases__title {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 35px;
}
.cases__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 15px;
}
.cases__para {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 35px;
}
.cases__list {
  padding-bottom: 45px;
}
.cases__item:nth-last-child(n + 2) {
  margin-bottom: 10px;
}
