.hero {
  position: relative;
  max-width: 1440px;
  height: 533px;
  margin: 0 auto 30px auto;
  padding-top: 145px;
  padding-bottom: 95px;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/home/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  font-weight: 300;
  font-size: 52px;
  line-height: 66px;
  /* or 127% */

  text-align: center;

  color: $main-title-color;
  margin-bottom: 15px;
}
.hero__para {
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  color: $main-title-color;
  margin-bottom: 25px;
}
.hero__btn{
    width: 156px;
height: 45px;


background: $current-color;
border-radius: 5px;
}